doctype html 
html 
 head 
  title Natours || #{tour}
  link(rel="stylesheet", href="css/style.css")
  link(rel="shortcut icon", type='image/png' href="img/favicon.png")

body 
 h1=tour
 //-h1 The Park Camper
 p This is jsut some text
 -const x=9
 h2=2*x
